@media screen and (max-width: 1024px) {
    .inner {
        width: 896px;
    }

    h4 {
        font-size: 50px;
    }

    h5 {
        font-size: 48px;
    }

    .name {
        font-size: 30px;
    }

    .nav_top {
        display: none;
    }

    .nav_middle {
        width: 100%;
        padding-top: 20px;
        justify-content: space-between;
        height: auto;
    }

    .nav_middle .nav_right {
        display: flex;
    }

    .nav_bottom {
        justify-content: flex-end;
    }

    .fix {
        opacity: 1;
    }

    .nv_right .ham {
        display: block;
        /* 또는 flex, inline-block 등 필요한 스타일 */
    }

    .nav_bottom ul.gnb {
        display: none;
    }

    .search {
        width: 330px;
        height: 50px;
    }

    .search input {
        font-size: 18px;
    }

    .fix .search {
        display: none;
    }

    .tag {
        font-size: 23px;
    }

    .tag_big {
        font-size: 28px;
    }

}

@media screen and (max-width: 375px) {
    .inner {
        width: 343px;
    }

    h5 {
        font-size: 45px;
    }

    h3 {
        font-size: 50px;
    }

    .h3_text a span {
        font-size: 30px;
    }

    .nav_middle {
        display: none;
    }

    .nav_bottom {
        justify-content: space-between;
    }

    .nav_bottom .logo {
        display: flex;
    }

    .nav_bottom .logo img {
        width: 105px;
    }

    nav .search {
        display: none;
    }

    .fix {
        flex-direction: column;
    }

    .fix .sns {
        display: flex;
    }


    .fix .search {
        display: flex;
        margin: 0 auto;
        margin-top: 77px;
    }

    .fix .gnb>ul>li>a {
        font-size: 20px;
    }

    .fix .gnb>ul {
        width: 34px;
        position: relative;
    }

    .fix .gnb>ul>li {
        background: orange;
        height: 20%;
        border-bottom: 1px solid var(--w-color);
    }

    .fix .gnb>ul>li>ul.sub {
        display: none;
    }

    .fix .us {
        display: flex;
        position: absolute;
        left: 10%;
        bottom: 11%;
        transform: translateY(100px);
        transition: 1s;
    }

    .fix.on .us {
        transform: translateY(0);
    }

    footer .top {
        display: none;
    }

    footer .f_middle {
        display: none;
    }
}