@charset "utf-8";

/* main_visual */
.main_visual {
    width: 100%;
    position: relative;
}

.main_visual .swiper-slide {
    width: 100%;
    height: clamp(500px, 60vw, 909px);
    /* background: yellow; */
}

.main_visual .swiper-slide a {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.main_visual .swiper-slide a .main_txtwrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    padding: var(--banner-gap);
}

.main_visual .swiper-slide a p {
    font-style: italic;
    font-size: clamp(35px, 6vw, 80px);
    font-family: var(--DM);
}

.main_visual .swiper-slide a .main_txtwrap div {
    font-size: clamp(28px, 5vw, 60px);
    font-weight: 300;
}

.main_visual .swiper-slide a div span {
    font-weight: 600;
}

.main_visual li.one {
    background: url(../img/main1.png) no-repeat center center;
    background-size: cover;
}

.main_visual li.two {
    background: url(../img/main2.png) no-repeat center center;
    background-size: cover;
}

.main_visual li.three {
    background: url(../img/main3.png) no-repeat center center;
    background-size: cover;
}

.main_visual li.four {
    background: url(../img/main1.png)no-repeat center center;
    background-size: cover;
}

.main_visual li.five {
    background: url(../img/main2.png)no-repeat center center;
    background-size: cover;
}

.main_visual li.six {
    background: url(../img/main3.png)no-repeat center center;
    background-size: cover;
}

/* skincare */
.skincare {
    padding-top: clamp(120px, 40vw, 387px);
    padding-bottom: var(--padding);
    display: flex;
    gap: var(--web-title-gap);
    align-items: flex-end;
}

.skincare_left {
    width: 629px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.skincare_left img {
    width: 100%;
    display: block;
}

.skincare_left a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skincare .skincare_txt {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: clamp(32px, 3vw, 48px);
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.96px;
}


.skincare .swiper {
    width: clamp(320px, 80vw, 1027px);
    height: auto;
    /* 부모의 고정 너비 */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: clamp(12px, 3vw, 35px);
}

.skincare .swiper .h3_text {
    width: 50%;
    height: clamp(60px, 10vh, 100px);
    /* 또는 flex: 0 0 auto; */
    /* background: rgb(255, 106, 106); */
}

.skincare .swiper-wrapper {
    display: flex;
    /* 슬라이드 가로 정렬 */
    /* height: clamp(300px, 60vh, 490px); */
    height: auto;
    /* align-items: flex-end; */

}

.skincare .swiper-slide {
    width: clamp(240px, 40vw, 325px);
    /* 슬라이드 고정 너비 */
    flex-shrink: 0;
    /* 줄어들지 않게 */
    /* height: 490px; */
    height: auto;
    /* background: #d5d5d5; */
    font-size: clamp(18px, 2vw, 24px);
}

.skincare .swiper-slide a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(8px, 1vw, 15px);
    justify-content: space-between;
    align-items: flex-start;
    opacity: .8;
    transition: .3s;
    font-size: clamp(20px, 3vw, 30px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.skincare .swiper-slide a img {
    width: 100%;
    display: block;
}

.skincare .swiper-slide:hover a {
    opacity: 1;
}

/* makeup */
.makeup {
    padding-top: var(--padding2);
    padding-bottom: var(--padding);
    display: flex;
    flex-direction: column;
    gap: var(--article-padding);
    align-items: center;
    /* background: green; */
}

.makeup .makeup_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: clamp(12px, 3vw, 20px);
}

.makeup_content div a ul {
    display: flex;
    flex-direction: column;
}

.makeup_content a ul li:nth-child(4) {
    font-weight: 500;
    font-size: clamp(16px, 2.2vw, 22px);
}

.makeup_left a ul {
    gap: clamp(12px, 3vw, 20px);
}

.makeup_left {
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.6s ease;
}

.makeup_left.on {
    opacity: 1;
    transform: scale(1);
}

.makeup_right a ul {
    gap: clamp(10px, 1.5vw, 20px);
}

.makeup_left a ul li {
    font-size: clamp(24px, 3vw, 36px);
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 43.2px */
    letter-spacing: -0.72px;
    display: flex;
    flex-direction: column;
    gap: clamp(8px, 2vw, 12px);
}

.makeup_left {
    width: clamp(320px, 60vw, 600px);
}

.makeup_left a {
    width: 100%;
    height: 100%;
    display: block;
}

.makeup_right {
    width: 58%;
    /* background: red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(24px, 4vw, 50px);
}

.makeup_right ul li {
    display: flex;
    flex-direction: column;
    gap: clamp(4px, 1.5vw, 8px);
}

.makeupsmall {
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.6s ease;
}

.makeupsmall.on {
    opacity: 1;
    transform: scale(1);
}

.makeup img {
    width: 100%;
    height: auto;
    display: block;
}

.makeupsmall.no {
    display: none;
}

/* video */
.video {
    padding: var(--padding) 0;
    display: flex;
    flex-direction: column;
    gap: var(--article-padding);
    align-items: center;
}

.vid_contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.vid_contents .vidboth {
    width: calc(50% - clamp(24px, 3vw, 36px));
    display: flex;
    flex-direction: column;
    gap: clamp(24px, 3vw, 36px);
}

.vid_contents .vid {
    height: clamp(300px, 30vw, 491px);
    border-radius: 10px;
}

.vid_contents .vid.vid_one {
    background: url(../img/main_img11.png) no-repeat center center;
    background-size: cover;
}

.vid_contents .vid.vid_two {
    background: url(../img/main_img12.png) no-repeat center center;
    background-size: cover;
}

.vid_contents .vid.vid_three {
    background: url(../img/main_img13.png) no-repeat center center;
    background-size: cover;
}

.vid_contents .vid.vid_four {
    background: url(../img/main_img14.png) no-repeat center center;
    background-size: cover;
}

.vid a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.vid a ul {
    width: 85%;
    height: 16%;
    border-top: 1px solid var(--w-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: clamp(18px, 1.3vw, 30px);
    font-style: normal;
    line-height: 110%;
    /* 38.5px */
    gap: 18px;
    position: relative;
    opacity: 0;
    transition: 0.6s;
}

.vid a:hover ul {
    opacity: 1;
}

.vid a ul li {
    position: absolute;
    left: 0;
    bottom: -50px;
    transition: .6s;
}

.vid a:hover ul li {
    bottom: 25%;

}

.vid a ul span {
    font-weight: 600;
}

/* store */
.store {
    width: 100%;
    padding: var(--padding) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--article-padding);
    overflow: hidden;
}

.store_slide {
    display: flex;
    flex-direction: column;
    gap: clamp(24px, 3vw, 36px);
    overflow: hidden;
}

.store_slide .swiper {
    width: 100%;
    max-width: 2055px;
    height: auto;
    /* 부모의 고정 너비 */
    /* background: green; */
}

.store_slide .swiper-wrapper {
    display: flex;
    /* 슬라이드 가로 정렬 */
    height: auto;
    align-items: flex-end;
}

.store_slide .swiper-slide {
    width: clamp(240px, 40vh, 356px);
}

.store_slide img {
    height: clamp(250px, 45vh, 450px);
}


/* interaction */
.marquee3k {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    color: var(--w-color);
}

.marquee3k div {
    display: inline-block;
    white-space: nowrap;
    will-change: transform;
}

.marquee3k div span {
    display: inline-block;
    margin-right: 0.5vw;
    font-size: clamp(24px, 3vw, 36px);
}
