@media screen and (max-width: 1024px) {
    .skincare .swiper .h3_text {
        width: 100%;
    }

    .swiper .h3_text a {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .skincare_left {
        display: none;
    }

    .skincare .swiper-slide a {
        opacity: 1;
    }

    /* makeup */
    .makeup_left {
        display: none;
    }

    .makeup_right {
        width: 100%;
        /* gap: 24px; */
    }

    .makeupsmall {
        padding-bottom: clamp(24px, 5vw, 48px);
    }

    .makeupsmall.no {
        display: flex;
    }

    /* video */
    .vid a ul {
        justify-content: center;
        opacity: 1;
    }

    .vid a ul li {
        bottom: 25%;
    }
}

@media screen and (max-width: 834px) {

    .vid_contents {
        flex-direction: column;
        gap: clamp(24px, 3vw, 36px);
    }

    .vid_contents .vidboth {
        width: 100%;
    }

    .vid a ul li {
        bottom: 31%;
    }
}

@media screen and (max-width: 375px) {
    .skincare .swiper-slide a {
        justify-content: flex-start;
    }

    /* makeup */
    .makeup_right {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .makeup_left {
        display: none;
    }

    .store {
        padding: 65px 0;
        gap: 60px;
    }

    .store_slide {
        padding-left: 65px;
    }

    .store_top {
        display: none;
    }
}